<div class="container py-5">

  <div class="title">
    Oleksandr Fedorov
  </div>

  <div class="position my-2">
    Frontend (Angular 2+) developer middle
  </div>

  <div class="position my-2">
    Full Stack (Angular 2+ / Node) developer junior / middle
  </div>

  <div class="btn-group row d-flex justify-content-center align-items-center my-4">
    <label class="btn btn-outline-primary" [(ngModel)]="selected"
           btnRadio="bio" tabindex="0" role="button" (click)="onMenuClick()">Biography</label>
    <label class="btn btn-outline-primary" [(ngModel)]="selected"
           btnRadio="skills" tabindex="0" role="button" (click)="onMenuClick()">Skills</label>
    <label class="btn btn-outline-primary" [(ngModel)]="selected"
           btnRadio="experience" tabindex="0" role="button" (click)="onMenuClick()">Experience</label>
    <label class="btn btn-outline-primary" [(ngModel)]="selected"
           btnRadio="additional" tabindex="0" role="button" (click)="onMenuClick()">Additional Information</label>
    <label class="btn btn-outline-primary" [(ngModel)]="selected"
           btnRadio="contacts" tabindex="0" role="button" (click)="onMenuClick()">Contacts</label>
  </div>

  <router-outlet class="my-4"></router-outlet>

</div>
