<div class="container-fluid">
  <div class="row mb-2">
    <b>Age:</b>&nbsp;{{age}} years (17.01.85).
  </div>
  <div class="row mb-2">
    <b>City:</b>&nbsp;Kyiv, Ukraine.
  </div>
  <div class="row mb-2">
    <b>Education:</b>&nbsp;2002-2008, National University of Shipbuilding, Mykolaiv, specialty &laquo;Automated
    systems software&raquo;.
  </div>
  <div class="row mb-2">
    <b>Family status:</b>&nbsp;married.
  </div>
</div>

