<div class="container-fluid">

  <div *ngFor="let e of experience; let last = last;">

    <div *ngIf="e.title"
         class="row mb-2">
      <b>{{e.title}}</b>
    </div>

    <div *ngIf="e.position"
         class="row mb-2 font-italic">
      {{e.position}}
    </div>

    <div *ngIf="e.description"
         class="row mb-2">
      {{e.description}}
    </div>

    <br *ngIf="!last">

  </div>

</div>
